.header{
    background: darkgreen;
    width: 100%;
    padding-top: .5%;
}

.h1{
    color: white;
    font-size: 80px;
}

.name{
    position: relative;
    left: 20%;
}

.table{
    position: relative;
    left: 75%;
    bottom: 25px;
    font-size: 20px;
    padding-bottom: 3px;
}

td{
    border-collapse: collapse;
    border-right: solid #400308;
    padding: 0px 10px;
}

.last_td{
    border: none;
}

a{
    text-decoration: none;
    color: white;
}

.NOW{
    color: #DFCAA0;
}

.heading{
    display: flex;
    position: relative;
    bottom: 830px;

}

.heading_text{
    color: white;
    font-size: 13px;
    background: #400308;
    padding: 0px 50px 0px 150px;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 37px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 50px solid #400308;
}

.seperator{
    background: #400308;
    position: relative;
    top: 35px;
    right: 3px;
    height: 4px;
    width: 85%;
}





.content{
    background: #DFCAA0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding: 5%;
}

#entrence{
    font-size: 52px;
}

#paragraph{
    font-size: 32px;
    text-align: justify;
}

.text{
    display: inline-block;
    width: 800px;
    position: relative;
    bottom: 30px;
}

#green_link{
    color: darkgreen;
    text-decoration: underline;
}

